body {
    margin: 0;
    padding: 0;
}

#head {
    padding: 40px;
    background: yellow;
}

#head ul {
    text-align: right;
}

#head li {
    display: inline-block;
    direction: ltr;
    padding: 0 40px 0;
    list-style-type: none;
}